.btn__primary {
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    background: $btn_color;
    border: 1px solid transparent;
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        padding: 8px 30px;
        background: transparent;
        border: 1px solid $btn_color;
        a {
            color: $btn_color;
        }
    }
}
