$theme_color_primary: #092e5b;
$theme_color_secondary: #ffffff;
$theme_color_tertiary: #f4fcff;
$text_color_primary: #656565;
$text_color_secondary: #dd8138;
$btn_color: #22b1eb;
$navbar_color: #fcffff;
$featured_color: #2cc187;
$hero_overlay: #485d78;
$story_overlay: #d9b6a0;